h1 {
    text-align: center;
}

ul {
    padding: 10px;
}
li {
    list-style-type: none;
    margin-left: 0;
    padding: 15px;
    margin: 2px;
    background-color: #ddd;
    border-radius: 3px;
}

li:hover .mat-checkbox{
    margin-right:15px;
}

.mat-checkbox {
    margin-right: 10px;
}

#newtodo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#newtodo form {
    width: 100%;
}

#newtodo .newtitle {
    width:40%;
}
#newtodo .newdescription {
    width:50%;
    flex-grow: 2;
}

input {
    background-color:#ddd;
    padding: 3px;
}